tr{ colour : black;
    background : pink;}
.biru{ colour : black;
       background : pink;}
.ijo{ colour : red;
      background : pink;}
p{ colour : black
   text-align : justify;}
body{ background:lightgreen;}



